In [2]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns
import time
import matplotlib.pyplot as plt 
import random
import csv 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.utils import shuffle

In [61]:
pd.set_option('display.max_rows',300)
pd.set_option('display.max_columns',100)
pd.set_option('max_colwidth',800)

plt.figure(figsize=(20,10))

In [3]:
df = pd.read_csv('my_csv_shuffle.csv')

In [63]:
df.drop('Sr.No', axis = 'columns', inplace = True)

# Initial Dataframe

In [4]:
df

,Java,Android SDK,Android Studio,APIs,Databases,MD,Kotlin,UX/UI,Android Developer,Python,...,Fix Bugs,Dart,Flutter Developer,Critical Thinking,Creativity,Storing Telling Ability,Time Management,Multimedia Development Software,Game Developer,Salary
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,445000
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,318000
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,550000
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,252000
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,650000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,1,0,0,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,259000
931,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,400000
932,1,1,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,299500
933,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,386000
934,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,1,425000

# Shuffling the whole dataset

In [5]:
df = shuffle(df)
df

,Java,Android SDK,Android Studio,APIs,Databases,MD,Kotlin,UX/UI,Android Developer,Python,...,Fix Bugs,Dart,Flutter Developer,Critical Thinking,Creativity,Storing Telling Ability,Time Management,Multimedia Development Software,Game Developer,Salary
384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,285000
422,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,350000
339,0,0,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,156480
537,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,381500
431,1,1,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,295000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,1,0,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,395000
686,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,322500
436,0,0,1,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,250000
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,318000
64,0,0,0,0,1,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,475000

# Generating X and y values

In [2]:
df = pd.read_csv('my_csv_shuffle.csv')
df
X = df.drop('Salary', axis = 'columns')
X
y = df.Salary
y

0      445000
1      318000
2      550000
3      252000
4      650000
        ...
930    259000
931    400000
932    299500
933    386000
934    425000
Name: Salary, Length: 935, dtype: int64

In [3]:
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size = 0.2, random_state=10)
lr_clf = LinearRegression()
lr_clf.fit(X_train, y_train)
lr_clf.score(X_test, y_test)*100

92.35931204975833

In [6]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=10,  test_size=0.2, random_state =0)

cvs = cross_val_score(LinearRegression(), X,y, cv=cv)
cvs

array([0.90601526, 0.92666694, 0.91585194, 0.89802161, 0.92289985,
       0.93263428, 0.91056208, 0.94340726, 0.93791528, 0.92867028])

In [8]:

new_output=[]
for i in range(0,9):
    new_output.append(1)
for i in range(9,66):
    new_output.append(0)
print(new_output)
output=lr_clf.predict([new_output])
print(output)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[481888.]

# Random Forest Regressor

In [9]:
from sklearn.ensemble import RandomForestRegressor
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size = 0.2)
regressor = RandomForestRegressor(n_estimators = 100, random_state = 10)
regressor.fit(X_train, y_train)
regressor.score(X_test,y_test)*100

81.3341451138858

# Generating PKL File

In [2]:
# Pkl_Filename = "model.pkl"  

# with open(Pkl_Filename, 'wb') as file:  
#     pickle.dump(lr_clf, file)


# # Load the Model back from file
# with open(Pkl_Filename, 'rb') as file:  
#     model = pickle.load(file)

# model

# score = model.score(X_test, y_test)  
# # Print the Score
# print("Test score: {0:.2f} %".format(100 * score))  

# # Predict the Labels using the reloaded Model
# Ypredict = model.predict(X_test)  

# Ypredict